<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>G & G</title>

    
    <!-- Style filer (bootstrap, css, font-awesome og W3Schools) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/various.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/chatstyle.css">


    <!-- JQuery linker -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>


    <!-- Leaflet-linker (Kartet) -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body style="background-color: #353535;">

    <!-- LOGIN SIDEN -->
    <div id="login-side">
        <%- include('partials/loginp.ejs'); %> 
    </div>


    <div id="main-side">
        <%- include('partials/header.ejs'); %>

        <div id="hjem_div" style="display: block;">
            <%- include('partials/homep.ejs'); %>
        </div>

        <div id="sok_div" style="display: none;">
            <%- include('partials/searchp.ejs'); %>
        </div>

        <div id="melding_div" style="display: none;">
            <%- include('partials/chatp.ejs'); %>
        </div>

        <div id="profil_div" style="display: none;">
            <%- include('partials/profilep.ejs'); %>
        </div>
    </div>

    <!-- DISSE SKAL IKKE RØRES -->
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-analytics.js"></script>  
    <script>
        var firebaseConfig = {
            apiKey: "AIzaSyChkMk9qNYQPiY6CrtSf5BvSdRDJHSk3w4",
            authDomain: "giveget-73d6d.firebaseapp.com",
            databaseURL: "https://giveget-73d6d-default-rtdb.firebaseio.com",
            projectId: "giveget-73d6d",
            storageBucket: "giveget-73d6d.appspot.com",
            messagingSenderId: "283451874495",
            appId: "1:283451874495:web:84f01359274a699715ba0a",
            measurementId: "G-0MT991669E"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
        const analytics = firebase.analytics();
    </script>  


    <!-- DETTE ER DEN DU RØRER -->
    <script>
        /*
        //Finner brukerens posisjon
        $(document).on('click', '.modal',document.getElementById("flexCheckDefault"), function(){
        if (navigator.geolocation)
            navigator.geolocation.getCurrentPosition(function(position) {
            console.log(position);   
        });
        else 
            console.log("geolocation is not supported");
        });
        */


        // Sjekker hvem som er logget inn 
        /*var email = ""; 
        var username = ""; 
        firebase.auth().onAuthStateChanged(function(user) {
            if(user) {
                var user = firebase.auth().currentUser;
                if(user != null) {
                    email = user.email;   
                    console.log(email);
                }
            }
        });*/


        //random id funksjon - funnet på nettet
        function randomID() {
        var S4 = function() {
        return (((1 + Math.random()) * 0x10000)|0).toString(16).substring(1);
        };
        return (S4()+S4()+"-"+S4()+"-"+S4()+"-"+S4()+"-"+S4()+S4()+S4());
        }


        //Registrerer om CB er checket, Henter brukers posisjon og lagrer variabel som lastes opp i DB 
        var long = null;
        var lat = null;
        $('#positioncb').on('change', function() { 
            var cb = document.getElementById("positioncb");
            if ($(cb).is(':checked')) {
                //alert("checked");
                if (navigator.geolocation) {
                    long = navigator.geolocation.getCurrentPosition(longitude);
                } else { 
                    console.log(innerHTML = "Geolocation is not supported by this browser.");
                }
                if (navigator.geolocation) {
                    lat = navigator.geolocation.getCurrentPosition(latitude);
                } else { 
                    console.log(innerHTML = "Geolocation is not supported by this browser.");
                }
                function longitude(position) {
                    long = position.coords.longitude;
                }
                function latitude(position) {
                    lat = position.coords.latitude;
                }
                
            } else {
                //alert("unchecked")
                //long = 0;
                //lat = 0;
            } 
             // disabler publiser knapp i 5 sekunder om posisjon er valgt
             //legger til loading i 5 sekunder, og går tilbake til normalt etter dette
            $('#publish').prop("disabled", true);
            // spinner på knappen
            $('#publish').html(
            `<span id="laster" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Henter posisjon...`
            );
            setTimeout(function () {
                $('#publish').prop("disabled", false);
                $('#laster').remove();
                $('#publish').html(`publiser`);
            }, 4000); 
        });

        //Tilbud
        var status = " ";
        $('#tilbycb').on('change', function() { 
            var tcb = document.getElementById("tilbycb");
            if ($(tcb).is(':checked')) {
                //alert("Tilbud");
                status = "Tilbud";
            }    
        });

        //Etterspørsel
        $('#etterspørcb').on('change', function() { 
            var ecb = document.getElementById("etterspørcb");
            if ($(ecb).is(':checked')) {
                //alert("Etterspørsel");
                status = "Etterspørsel";
            } 
        });
 

        //Laster opp tittel, beskrivelse, posisjon og kategori til firebase

        //var id = 0;
        //var blå = 0;
        //var rød = 999;
        //var grønn = 9999;

        function submitClick() {
            var cb = document.getElementById("positioncb");
            id = randomID(); //Gir ID en tilfeldig String
            blå = randomID();
            rød = randomID();
            grønn = randomID();

            //hvis posisjon er valgt, pusher vi med lon og lat
            if ($(cb).is(':checked')) {
                firebase.database().ref("Annonse").child(id).set({
                    brukernavn: username,
                    tittel: document.getElementById("TitlePost").value,
                    beskrivelse: document.getElementById("DescriptionPost").value,
                    id: id,
                    blå: blå,
                    rød: rød,
                    grønn: grønn,
                    longitude: long,
                    latitude: lat,
                    kategori: status,
                    userid: firebase.auth().currentUser.uid
                });   

            }
            //hvis posisjon ikke er valgt pusher vi uten lon og lat
            else {
                firebase.database().ref("Annonse").child(id).set({
                    brukernavn: username,
                    tittel: document.getElementById("TitlePost").value,
                    beskrivelse: document.getElementById("DescriptionPost").value,
                    id: id,
                    blå: blå,
                    rød: rød,
                    grønn: grønn,
                    kategori: status,
                    userid: firebase.auth().currentUser.uid
                });   
            }
                setTimeout(function () {
					window.location.reload(1);
				}, 0001);   
                //Logging av ny annonse
                analytics.logEvent('ny_annonse', { id: id, brukernavn: username, tittel: document.getElementById("TitlePost").value })
            }

            var chat = firebase.database().ref().child('Annonse');
            chat.on("child_added", function(snapshot) {
                var message = snapshot.val(); 
                id = message.id;
                blå = message.blå; 
                grønn = message.grønn; 
                rød = message.rød; 
            });
    </script>



    <script src="js/construe.js"></script>
    <script src="js/auth.js"></script>
    <script src="js/action.js"></script>
    <script src="js/chat.js"></script>
    <!-- <script src="ejs.min.js"></script> -->
</body>
</html>